body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    color: white;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #cce7ff;
    font-size: 24px;
}

h2 {
    color: #66b3ff;
    font-size: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    margin-top: 10px;
    width: 100%;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #0044cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #003bb3;
}

select {
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

#panel {
    display: none;
}

#auth {
    display: block;
}
